<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CustRegistration</display-name>
    <servlet-name>CustRegistration</servlet-name>
    <servlet-class>CustRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustRegistration</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FtWithin</display-name>
    <servlet-name>FtWithin</servlet-name>
    <servlet-class>FtWithin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FtWithin</servlet-name>
    <url-pattern>/ftwithin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FTOtherBank</display-name>
    <servlet-name>FTOtherBank</servlet-name>
    <servlet-class>FTOtherBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FTOtherBank</servlet-name>
    <url-pattern>/ftother</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complaint</display-name>
    <servlet-name>Complaint</servlet-name>
    <servlet-class>Complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complaint</servlet-name>
    <url-pattern>/complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCredentials</display-name>
    <servlet-name>UpdateCredentials</servlet-name>
    <servlet-class>UpdateCredentials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCredentials</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplaintBase</display-name>
    <servlet-name>ComplaintBase</servlet-name>
    <servlet-class>ComplaintBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintBase</servlet-name>
    <url-pattern>/viewcomplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactions</display-name>
    <servlet-name>ViewTransactions</servlet-name>
    <servlet-class>ViewTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactions</servlet-name>
    <url-pattern>/viewtransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>